<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Cart</title>
</head>
<body>
    <h1>Items in the cart!</h1>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
        {% if request.session %}
            {% for key, value in request.session.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">No Data Found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</body>
</html>